:root {
  font-family: Georgia;
  font-size: 0.875rem;
  /* text-size-adjust: 100%; */
}
body {
  max-width: 85%;
  margin: 0 auto !important;
  float: none !important;
}

header {
  /* display: flex; */
  /* height: 20vh; */
  /* background-color: pink; */
  flex-direction: column;
}

.topFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.topFlex li {
  list-style: none;
}

.topLeftFlex {
  display: flex;
  width: 33.3%;
}

#hbMar {
  margin-left: 40px;
}

#srchMar {
  margin-left: 10px;
}

.topCenterFlex {
  display: flex;
  justify-content: space-evenly;
  width: 33.3%;
  font-size: 0.7rem;
}

.topRightFlex {
  display: flex;
  width: 33.3%;
  justify-content: flex-end;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 0.8rem;
}

#loginButton {
  margin-left: 10px;
  margin-right: 5px;
}

.middleFlex {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.middleLeftFlex {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-content: left;
  width: 33.3%;
  font-size: 0.9rem;
  /* margin-left: 10px; */
}

#dayDate {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#dayDateSub {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
}

.middleFlex li {
  list-style: none;
}

#currTemp {
  font-family: "Times New Roman", Times, serif;
  font-weight: 0.8rem;
  font-weight: bolder;
  margin-left: 15px;
}

#maxTemp {
  font-size: 0.7rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;

  margin-top: 2px;
  margin-left: 15px;
}

#minTemp {
  font-size: 0.7rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  margin-left: 5px;
  margin-top: 2px;
}

.centerFlex li {
  list-style: none;
  justify-content: space-around;
}

.bottomFlex {
  display: flex;
  justify-content: space-between;
  /* height: 20%; */
}

/* .test:first-child {
    margin-left: 5px;

} */

.middleCenterFlex {
  display: flex;
  justify-content: center;
  width: 33.3%;
}

#nyText {
  font-family: "Lobster Two", cursive;
  font-size: 50px;
}

.middleRightFlex {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 33.3%;
  margin-top: 20px;
}

#midBottomSeperator {
  border: 0.5px solid lightgrey;
}
/* .bottomFlex .centerFlex li{
    font-weight: 500;
} */
.weatherFlex {
  display: flex;
  list-style: none;
}

.stockFlex {
  display: flex;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
}

#stockPercent {
  margin-left: 22px;
  color: maroon;
}

.sectionFlex {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  border: 0.5px solid black;
  border-bottom: 0;
}

.main-page-flex {
  display: flex;
  /* grid-column: (8.5fr 3.5fr); */
}

.page {
  float: left;
}

.left {
  /* background-color: mediumpurple; */
  width: 70%;
  padding-right: 15px;
}

div.page.left {
  border-right: 1px solid white;
}

.right {
  border: 2px;
  background-color: mediumspringgreen;
  width: 30%;
}

.news-block-left-big-pic {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 1px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.nb1-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 10px;
}

.nb1-left-1 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
}

.nb1-right {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  margin-right: 20px;
}

/* .big-news-img{
    display: flex;
    justify-content:flex-end ;
} */

.news-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.news-image img {
  width: 500px;
  height: 300px;
}

.news-image video {
  width: 500px;
  height: 300px;
}

.news-image-src {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: grey;
  font-size: 0.7rem;
  margin-top: 1px;
}

li {
  list-style: none;
}

.read-time {
  font-size: 0.8rem;
  margin-top: 5px;
  color: grey;
  margin-bottom: 10px;
}

.big-title {
  font-family: "Cardo", serif;
  font-weight: bolder;
  font-size: 1.5rem;
}

.med-title {
  font-family: "Cardo", serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
}

.news-snippet {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  margin-top: 10px;
}

.news-block-1-1-left {
  display: flex;
}

.ll {
  display: flex;
  flex-direction: column;
}

.rr {
  display: flex;
  flex-direction: column;
}

.nb1-double-l {
  display: flex;
  width: 100%;
}

.news-section-end {
  border-bottom: 1px solid black;
}

/* news item 2 */
.news-block-2-left {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 1px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

span {
  margin-right: 10px;
}

.multiple-items-title {
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

.multiple-items-title span:first-child {
  font-weight: bold;
}

.quote-title {
  font-family: "Cardo", serif;
  font-weight: lighter;
  font-size: 2rem;
  color: gray;
}
